@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Ubuntu:wght@700&display=swap');

body{
    background-image:url("../images/f.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size:40px;
    
    color: #f9fbfc;
    padding: 5%;
    margin-right: 6%;
    }
.btn{
    border-radius: 5px  ;
    border : none;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    text-align:center;
    margin-top:10%;
    width:140px;
    height:40px;
    color:#fcfaf8;
    background-color: #F88017;
    margin-left: 5%;
    }

    .locationbutton2{
        border-radius: 25px  ;
        border : none;
        font-family: 'Ubuntu', sans-serif;
        font-size:15px;
        text-align:center;
        margin-top:-3%;
        width:334px;
        height:334px;
        color:#fcfaf8;
        background-color: #0077CC80;
        margin-left: 10%;
        
        
    }
    .locationbutton{
        border-radius: 25px  ;
        border : none;
        font-family: 'Ubuntu', sans-serif;
        font-size:15px;
        text-align:center;
        margin-top:-3%;
        width:286px;
        height:286px;
        color:#fcfaf8;
        background-color: #0077CC80;
        margin-left: 10%;
        
    }
.contactuslogo{
        display:block;
        width:40px;
        height: 40px;
        display : inline-block;
        margin-right: 2%;
    
    }
.contactlables{
        font-family: 'Baloo Tammudu 2', cursive;
        color:#fcfaf886;
        margin-left:38.67%;
        margin-right: 40%;
      
    }
.social{
        margin-left: 5%;
        margin-right: 10%;
    
    }
h2{
        font-family: 'Ubuntu', sans-serif;
        font-size:24px;
        
        color: #fafafaea;
        padding: 1%;
        margin-left: 4%;
        }


.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0%;
            
          }
h3{
            font-family: 'Ubuntu', sans-serif;
            font-size:24px;
            
            color: #e2f3eebd;
            
            text-align:center;
            }

.faq{
    background-color: #363535c0;
    padding-top: 7%;
    padding-bottom: 6%;
    
    
}
.pawork{
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 4% ;
    padding-left: 7%;
    color: #e2f3eeda;
}
.wherewebac{
    background-color:#36353577;
    
    padding-top: 1%;
    padding-bottom: 4%;
}
.aboutpa{
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 4% ;
    padding-left: 7%;
    color: #f8f8f8da;

}
.aboutsec{
    background-color:#36353577;
    
    padding-top: 1%;
    padding-bottom: 2%;
}
.missionpa{
    background-color:#36353577;
    
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

footer{
    margin-top: 10%;
    padding: 1%;
    background-color: #000000b8;
}
.copy{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    color: #e2f3eebd;
    font-size:13px;
    margin-bottom: 1%;
}