@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Ubuntu:wght@700&display=swap');

body{
    background-image:url("../images/f.jpg");
    background-position: center;
    background-size: fill;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size:40px;
    
    color: #f9fbfc;
    padding: 5%;
    margin-right: 6%;
    }
.btn{
    border-radius: 5px  ;
    border : none;
    font-family: 'Ubuntu', sans-serif;
    font-size:15px;
    text-align:center;
    margin-top:15%;
    width:140px;
    height:40px;
    color:#fcfaf8;
    background-color: #F88017;
    margin-left: 5%;
    }
    .locationbutton{
        border-radius: 10px  ;
        border : none;
        font-family: 'Ubuntu', sans-serif;
        font-size:15px;
        text-align:center;
        margin-top:15%;
        width:140px;
        height:40px;
        color:#fcfaf8;
        background-color: #F88017;
        margin-left: 5%;
    }
.contactuslogo{
        display:block;
        width:40px;
        height: 40px;
        display : inline-block;
        margin-right: 2%;
    
    }
.contactlables{
        font-family: 'Baloo Tammudu 2', cursive;
        color:#fcfaf886;
        margin-left:38.67%;
        margin-right: 40%;
      
    }
.social{
        margin-left: 5%;
        margin-right: 10%;
    
    }
h2{
        font-family: 'Ubuntu', sans-serif;
        font-size:24px;
        
        color: #e2f3eebd;
        padding: 5%;
        margin-right: 6%;
        }
    }

