


h2{
		margin-right: 2%;
		margin-left: 2%;
		text-shadow: 2px 2px 5px gold;
}

.prof{
  margin-left: 3%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  width: 40%;
  height: 100%;
  background-color:#cecece6b ;
}
#dp{
  float:left;
  width:25%;
  margin: 10% 37% 10% 37%;
}

p{
  font-size: large;
  font-weight: bold;
}

button{
	display: inline-block; 
	border-radius: 45px;
	width: 150px;
	height: 40px;
	border: 1px solid black;  
	background-color: grey;
  text-decoration: none;
  margin: 0 30% 0 30%;
}

.tools{
  width: 40%;
  display: inline-block;
  float: right;
  margin-top: 5%;
}

#logout{

  float: right;
  margin: 0 0 0 0;

}
#user{
  width: 7%;
  display: inline-block;
		}
button:hover {
  background-color: #555555;
  color: black;
  text-shadow: 6px 6px 10px gold;
}

body
{
	background-image:url("../images/f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}
hr{
	height: 5px;
	background-color: white;
	border: none;
}
h1{
	color: white;
	text-shadow: 2px 2px 5px gold;
}

a{
  text-decoration: none;
  color:#002bff;
}

#use{
  float: left;
  display: inline;
}