h2{
	display: inline-block;
		margin-top:8px;
		margin-bottom:2px;
		margin-right: 2%;
		margin-left: 2%;
		text-shadow: 2px 2px 5px gold;
}

button{
	display: inline-block; 
	border-radius: 45px;
	margin-top: -10px;
	margin-bottom: 10px;
	width: 150px;
	height: 40px;
	padding: 10px;
	border: 1px solid black;  
	background-color: grey;
	margin-left: 1600px;
	text-decoration: none;
  
}
.user{
	display: inline-block;
    margin-top:8px;
    margin-bottom:2px;
    margin-right: 5%;
    margin-left: 5%;
		}
button:hover {
  background-color: #555555;
  color: black;
  text-shadow: 6px 6px 10px gold;
}
	div.a{
      margin-right: 5%;
      margin-left: 5%;
      background-color: rgba(255, 255, 255, 0.438);
	  margin-right: 5%;
      margin-left: 5%;
      background-color: rgba(255, 255, 255, 0.438);

      }
	div.b{
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 10%;
    }
	
    div.c{
      display: inline-block;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 10%;
      margin-left: 10%;
      }
    div.d{
      display: inline-block;
      margin-top: -300px;
      margin-bottom: 100px;
      margin-right: 10%;
      margin-left: -8%;
    }
    div.e{
      display: inline-block;
      
  }
body
{
	background-image:url("../images/f.jpg");
	background-position: top;
	background-repeat: no-repeat;
	padding: 15px;
}
hr{
	height: 5px;
	background-color: white;
	border: none;
}
h1{
	display: inline-block;
	color: white;
	text-shadow: 2px 2px 5px gold;
}
	

