


/*h2{
		margin-right: 2%;
		margin-left: 2%;
		text-shadow: 2px 2px 5px gold;
}*/

.prof{
  margin-top: 5%;
  margin-left: 3%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  width: 40%;
  height: 100%;
  background-color:#cecece6b ;
}
#dp{
  float:left;
  width:25%;
  margin: 10% 37% 10% 37%;
}

p{
  font-size: large;
  font-weight: bold;
}

button{
	display: inline-block; 
	width: 150px;
	height: 40px;
	/* border: 1px solid black;   */
	background-color: #1eb10c;
  text-decoration: none;
  margin: 0 30% 0 30%;
  margin-bottom: 1%;
  border: none;
  color: white;


  border-radius: 5px;
	width: 150px;
	height: 40px;
	padding: 10px;
}


.tools{
  width: 40%;
  display: inline-block;
  float: right;
  margin-top: 5%;
}

.logout{

  float: right;
  margin: 0 2% 0 0;
  background-color: white;
  border: 2px solid #1eb10c;
  border-radius: 45px;
  transition: border 0.5s linear;
  font-weight: 900;
  color: #1eb10c;
  
}
a{
  color: white;
  text-decoration: none;
}
#user{
  width: 7%;
  display: inline-block;
    }
    
    .logout a{
      color:#1eb10c;
    }
button:hover {
  background-color: #ffffff9c;
  color: white;
  /* text-shadow: 6px 6px 10px gold; */
}

body
{
	background-image:url("../images/f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  background-attachment: fixed;
}
hr{
  height: 3px;
	background-color: white;
	border: none;
}
h1{
	color: white;
	/* text-shadow: 2px 2px 5px gold; */
}

a{
  text-decoration: none;
  color:white;
}

#use{
  float: left;
  display: inline;
}



.logout:hover{
  background-color: #9b9b9b00;
  /* font-weight: 900; */
  /* border: 4px solid #1eb10c ; */
}

.navvv{

	background-color:#272727e3;
}

.navvv a:hover{
	color: brown;
}

h1{
	font-family: sans-serif;
	display: inline-block;
	color: black;
	font-size: 25px;
	/* text-shadow: 2px 2px 5px gold; */
}

h1 a{
	color: rgb(9, 190, 214);
}


.logout:hover{
  color:white;
  /* font-weight: 900; */
  /* border: 4px solid #1eb10c ; */
}

footer{
  padding: 1%;
  background-color: #000000b8;
}
.copy{
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  color: #e2f3eebd;
  font-size:13px;
  margin-bottom: 1%;
}