@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
    input[type=text] {
        font-family: 'Ubuntu', sans-serif;
        background-color: #757575;
        color: white;
    }
    input[type=email] {
        font-family: 'Ubuntu', sans-serif;
        background-color: #ffffff40;
        color: white;
    }
    input[type=password] {
        font-family: 'Ubuntu', sans-serif;
        background-color: #757575;
        color: white;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }
      
      .btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
      }
      
      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }

    .center {
    background-color: #cecece6b;
    margin: auto;
    width: 20%;
    /* border: 3px solid #ee1ab962; */
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
    }

    .center1 {
      background-color: #ffffff00;
      margin: auto;
      width: 250px;
      border: none;
      padding: 15px;
      margin-top: 20px;
      }
      input[type=text]{
        background-color:#ffffff40;
       }

       input[type=password]{
        background-color:#ffffff40;
       }
    input[type=submit] {
    font-size: 100px;
    font-weight: bold;
    width: 200px;
    height: 45px;
    background: white;
    border-color: gray;
    border-radius: 15px;
    padding: 2px 6px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    margin: 0 15px;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
      }
      
      
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      
      .container input:checked ~ .checkmark {
        background-color: #757575;
      }
      
      
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      
      .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      
      .container .checkmark:after {
           top: 9px;
          left: 9px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;
      }

      input[type=search] {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../images/zoom.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 100px 12px 50px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

      input[type=search]:focus {
        width: 200%;
      }

      .jsd_1{
        display: inline-block;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 10%;
        margin-left: 15%;
      }
      .jsd_2{
        display: inline-block;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 10%;
        margin-left: 10%;
      }
      .jsd_3{
        display: inline-block;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 10%;
        margin-left: 10%;
      }

      .jsd_frm{
        margin-right: 5%;
        margin-left: 5%;
        
        background-color: rgba(255, 255, 255, 0.438);
      }

      .jsd_btn{
        width: 160px;
        height: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.959); 
        color: black; 
        border: 2px solid #f44336;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .jsd_btn:hover{
        background-color: #f44336;
        color: white;
      }


      .copy{
        font-family: 'Ubuntu', sans-serif;
        text-align:center;
        color: #e2f3eebd;
        font-size:13px;
        margin-bottom: 3%;
    }

    footer{
      margin-top: 10%;
      padding: 1%;
      background-color: #000000b8;
      margin-top: 100%;
      position: absolute;
      bottom: 0%;
      width: 97%;
      padding-top: 10px;
      padding-bottom: 0px;
  }
  .copy{
      font-family: 'Ubuntu', sans-serif;
      text-align:center;
      color: #e2f3eebd;
      font-size:13px;
      margin-bottom: 1%;
  }

.center{
  margin-bottom: 20%;
}

.contactuslogo{
  display:block;
  width:40px;
  height: 40px;
  display : inline-block;
  margin-right: 2%;

}

.social{
  margin-left: 5%;
  margin-right: 10%;

}