

div.a{
    display: inline-block;
	}
h1{
	font-family: sans-serif;
	display: inline-block;
	color: black;
	font-size: 25px;
	/* text-shadow: 2px 2px 5px gold; */
}

h1 a{
	color: rgb(9, 190, 214);
}

h1.b{
	color:black;
}
button{
	display: inline-block; 
	border-radius: 45px;
	width: 150px;
	height: 40px;
	padding: 10px;
	border: 1px solid black;  
	background-color: #03DAC6;
	text-decoration: none;
}

button a{
	color: black;

}

button:hover {
  background-color: #018786;
  /* text-shadow: 6px 6px 10px gold; */
}
/* p.c{
	display: inline-block;
	margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 32%;
    margin-left: 10%;
}
p.d{
	display: inline-block;
	margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 31%;
    margin-left: 10%;
}
p.e{
	margin-top: 0%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 59%;
}
p.f{
	margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 62%;
}
p.g{
	margin-top: 0%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 59%;
} */
body{
	background-image:url("../images/f.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: fill;
	background-attachment: fixed;
}
div.h{
	margin-left: 3%;
	padding-left: 2%;
	padding-right: 2%;
	display: inline-block;
	width: 90%;
	height: 100%;
	background-color:#cecece6b ;
}

.payvia{
	padding: 2% 35% 5% 35%;
}
a{
	text-decoration: none;
}

#logout{
	float:right ;
}
.a{
	width: 100%;
	background: #00000063;
}

.ee{
	margin-left: 75%;
	color: aliceblue;
}

.de{
	margin-left: 64%;

}

.bb{
	margin-left: 66%;
}

.h{
	font-size: larger;
}

.navvv{
	height: 60px;
	background-color:#272727e3;
}

.navvv a:hover{
	color: brown;
}

hr{
	height: 2px;
	background-color: white;
}

.copy{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    color: #e2f3eebd;
    font-size:13px;
    margin-bottom: 3%;
}

footer{
	margin-top: 10%;
    padding: 1%;
    background-color: #000000b8;
}
.copy{
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    color: #e2f3eebd;
    font-size:13px;
    margin-bottom: 1%;
}

.social{
    margin-left: 5%;
    margin-right: 10%;

}

.contactuslogo{
    display:block;
    width:40px;
    height: 40px;
    display : inline-block;
    margin-right: 2%;

}
p.aa{
	display: inline-block;
}
p.bb{
	display: inline-block;
}
p.d{
	display: inline-block;
}
p.de{
	display: inline-block;
}