* {
    box-sizing: border-box;
  }
  
  form.search input[type=text] {
    margin-top: 5px;
    margin-left: 10%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.search button {
    margin-top: 5px;
    margin-left: 35%;
    margin-bottom: 5px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
  }
  
  form.search button:hover {
    background: #014e8d;
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
    width: 25%;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }