h1{
		font-weight: bold;
		font-size: italic;
		font-size: 32px;
		color: green;
		text-align: center;
}
hr {
		border: 2px solid white;
}
body
{
	background-image:url("../img/f.jpg");
	background-position: top;
	background-repeat: no-repeat;
	padding: 15px;
}
btn{
	margin-right: 100%;
}
