body{
    background-image:url("../images/f.jpg");
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.a{
    background: #00000063;
    padding-top:10px;
    padding-bottom:10px;
}
.topic{
    color: whitesmoke;
    font-size:30px;
    font-style: unset;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.b{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    color: beige;
}
.c{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    color: beige;
}
.box{
    background: #92909063;
    
}