


h2{
  font-family: 'Ubuntu', sans-serif;
  font-size:24px;
  
  color: #d1ceceea;
  padding: 0%;
  margin-left: 0%;
  }
.prof{
  margin-top: 5%;
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  width: 40%;
  height: 100%;
  background-color:#cecece6b ;
}
#dp{
  float:left;
  width:25%;
  margin: 10% 37% 10% 37%;
}

td{
  font-size: large;
  font-weight: bold;
}

.ptd{
  width: 30%;
}

button{
	display: inline-block; 
	width: 150px;
	height: 40px;
	background-color: #1eb10c;
  text-decoration: none;
  margin: 0 30% 0 30%;
  margin-bottom: 1%;
  border: none;
  color: white;


  border-radius: 5px;
	width: 150px;
	height: 40px;
  padding: 10px;
  

}


.tools{
  width: 40%;
  display: inline-block;
  float: right;
  margin-top: 5%;
}

.logout{

  float: right;
  margin: 2.3% 2% 0 0;
  background-color: #f88017c2;
  border-radius: 10px;
  transition: border 0.5s linear;
  font-weight: 900;
  color: #f4f7f3;
  
  
}
a{
  color: white;
  text-decoration: none;
}
#user{
  width: 6%;
  margin-bottom:3px;
  margin-top:8px;
  display: inline-block;
    }
    
    .logout a{
      color:#1eb10c;
    }
button:hover {
  background-color: #ffffff9c;
  color: white;
}

body
{
	background-image:url("../images/f.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  background-attachment: fixed;
}
hr{
  height: 3px;
	background-color: white;
	border: none;
}
h1{
	color: white;
}

a{
  text-decoration: none;
  color:white;
}

#use{
  float: left;
  display: inline;
  color:white;
  margin-top: 2.3%;
  margin-right: 6px;
  margin-left: 10px;
}



.logout:hover{
  background-color: #9b9b9b6e;
}

.navvv{

	background-color:#272727e3;
}

.navvv a:hover{
	color: brown;
}

h1{

  font-family: sans-serif;
  display: inline-block;
  color: white;
  font-size: 25px;
}

h1 a{
	color: rgb(9, 190, 214);
}


.logout:hover{
  color:white;
}

footer{
  margin-top: 10%;
  padding: 1%;
  background-color: #000000b8;
}
.copy{
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  color: #e2f3eebd;
  font-size:13px;
  margin-bottom: 1%;
}

.contactuslogo{
  display:block;
  width:40px;
  height: 40px;
  display : inline-block;
  margin-right: 2%;

}

.social{
  margin-left: 5%;
  margin-right: 10%;

}
.hed{
  background: #00000063;
}

.bod{
  padding: 3%;
  background: #2f302f6c;
}

.subm{
  border-radius: 5px  ;
  border : none;
  font-family: 'Ubuntu', sans-serif;
  font-size:15px;
  text-align:center;
  margin-top:2%;
  width:140px;
  height:40px;
  color:#fcfaf8;
  background-color: #f88017d3;
  margin-left: 0%;
}
